body {
    font-family: "DejaVu Sans";
    background-color: forestgreen;
    text-align: center;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 15px;
    float: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}